.eventBackground {
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -3;
    opacity: 0.2;  
}

.eventData {
    position: absolute;
    top: 15%;
    justify-content: space-between;
    margin: 0 5vw 5vw 5vw;
}

.eventTitle{
    color: #FFF;
    font-family: Roboto;
    font-size: clamp(20px, 3vw, 35px);
    padding-bottom: 1vw;
    padding-top: 1vw;
    margin-bottom: 2%;
}

.eventDay {
    color: rgba(187, 218, 238, 0.891);
    font-family: Roboto;
    font-size: clamp(15px, 3vw, 20px);    
    margin-top: 2vw;
    padding: 0 1vw 1vw 0;
}

.eventTime {
    color: rgba(187, 218, 238, 0.891);
    font-family: Roboto;
    font-size: clamp(15px, 3vw, 20px);
    padding: 0 1vw 3vw 0;
}

.eventDescription {
    color: white;
    line-height: 1.5;
    font-size: clamp(15px, 3vw, 20px);
}

.eventPrice{
position: sticky;
margin-left: 20%;
font-family: Roboto;
font-size: clamp(15px, 3vw, 20px);
color: rgba(187, 218, 238, 0.891);
padding: 1vw;
border-radius: 10px;
border: none;
background: rgba(109, 163, 196, 0.67);
width: fit-content;
height: 8vh;

}

.eventAddress{
    text-decoration: none;
    color: rgba(187, 218, 238, 0.891);
    font-family: Roboto; 
    font-size: clamp(15px, 3vw, 20px);  
    transition: color 0.2s ease; 
    cursor: pointer;
}

.eventAddress:hover {
    color: rgba(255, 255, 255, 1); 
}

.eventDescriptionTitle{
    color: rgba(187, 218, 238, 0.891);
    font-family: Roboto;
    border-bottom: solid 1px;
    max-width: 15vh;
    margin-bottom: 2vh;
    font-size: clamp(18px, 3vw, 20px); 
}

.eventHeart{
    height: 5vh;
    margin-left: 3%;
    margin-top: 1.7%;
}

.eventShareIcon{
    height: 5vh;
    margin-left: 3%;
    margin-top: 2%;
}

.eventShareIcon:hover {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transform: scale(1.2)
}

.eventTitleIcons{
    display: flex;
    flex-direction: row;
}

.eventShareButtonMessage{
    color: white;
    font-family: Roboto;
    margin-top: -2%;
    position:fixed;
}

/* .iconSocialMedia:hover {
    transform: scale(1.2);
    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
  
  .iconSocialMedia:hover:hover {
    transform: scale(1.5);
  } */



