
.shareEventButtons {
    position: fixed;
    bottom: 20px;  /* Regola la distanza dal basso come preferisci */
    right: 20px;   /* Regola la distanza dalla destra come preferisci */
    z-index: 1000; /* Imposta uno zIndex maggiore per sovrapporli a contenuti eventualmente presenti */
  }
  
  .button {
    cursor: pointer;
    margin-left: 10px;
  }
