.bodyHero {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Utilizar solo overflow en lugar de overflow-x y overflow-y */
  scroll-behavior: smooth;
  width: 100%;
  height: 70vh;
}

.imgHero {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.textHero{
  
}




.textHero1,
.textHero2 {
  margin-left: -10%;
  position: absolute;
  display: flex;
  z-index: 3;
  color: #FFF;
  font-family: Roboto;
  font-size: 2em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  text-align: center;
  min-height: 18vh;
}

.textHero1 {
  font-weight: 600;
  font-size: 3vw;
}

.textHero2 {
  align-items: center;
  font-size: 2vw;
}
