.searchBar {
    width: 100%;
    margin-left: 50%;
    margin-top: -50px;
    padding: 0%;
}

.searchInputWrapper {
    position: relative;
}

.searchInput {
    outline: none;
    width: 0;
    max-width: 100%;
    box-sizing: border-box;
    height: 40px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.40);
    font-weight: 300;
    color: white;
    border: none;
    font-size: 16px;
    padding-left: 4%;
    padding-right: 40px;
    transition: all 0.7s ease;
    /* Ajusta el padding derecho para dejar espacio para el ícono */
}

.searchInput::placeholder {
    color: #9a9a9a;
}

.searchIcon {
    position: absolute;
    top: -20%;
    right: 15px;
    cursor: pointer;
    transition: all .5s ease;
}
.searchBar:hover input{ 
    width: 30vw;
}
.searchBar:hover span{
    transform: rotate(360deg);
}
