.searchBar {
    width: 97%;
    padding: 0%;
    display: flex;
    justify-content: end;
    transition: width 0.7s ease;
   
    
    
  }
  
  .searchBar.active input {
    background: rgba(255, 255, 255, 0.50);
    width: 20vw;
    box-sizing: content-box;
  }
  
  .searchInputWrapper {
    position: relative;
   
  }
  
  .searchInput {
    outline: none;
    width: 0;
    max-width: 100%;
    box-sizing: border-box;
    height: 40px;
    border-radius: 30px;
    background-color: transparent;
    font-weight: 300;
    color: white;
    font-size: 16px;
    transition: all 0.7s ease;
  }
  
  .searchInput::placeholder {
    color: #5a5a5a;
  }
  
  .searchIcon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -54%;
    right: 2.5%;
    cursor: pointer;
    transition: all 0.7s ease;
    transform: rotate(0deg);
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .searchBar.active span {
    transform: rotate(-360deg);
  }
  
 
  
  
