.categories {
    padding: 1%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2%;
    box-sizing: content-box;
  
}

.categoriesCarouselTitle {

    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 2%;
    margin-top: 2%;
    font-size: clamp(25px, 3vw, 30px);
}

.categoriesCarousel {
    display: flex;
    height: 100%;
    min-width: 1200px;
    overflow-x: scroll;
    overflow-y: hidden;
}