
.login{
    width: 100vw;
    height: 100vh;
    background-image: url(/src/assets/loginBackground.jpeg);
  background-size: cover;   
  background-position: center;
}
.bodyLogin {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: 20%;
    
    
}

.bodyLoginBackground{
    position: fixed;
    z-index: -3;
    opacity: 0.5;    
}

.bodySquare {
    min-width: 50%;
    background-color: rgba(237, 233, 234, 0.157);
    border-radius: 15%;
    
}

.bodySquareDiv {
    width: 100%;
    height: 100%;
    padding: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    backdrop-filter: blur(1px);
}

.logoImage {
    margin-left: 22%;
    width: 50%;
}

.pointer {
    cursor: pointer;
}
.btnSubmit{
    display: flex;
    justify-content: center;
}
.btnYellow {
    background-color: rgb(229, 221, 15);
    border-radius: 10px;
    opacity: 0.9;
    font-size: small;
    font-weight: bolder;  
}

.btnYellow:hover {
    opacity: 1;
    
}

.forgot-text {
    color: white;
    font-size: 0.9rem;
}


.form-floating{
    margin: 5%;
}

.pwd-icon {
    width: 10%;
    position: relative;
    color: #022439;
    display: flex;
    justify-content: end;
    z-index: 25;
    transform: translate(880% ,130%);
}

.pwd-icon:hover {
    filter: brightness(2.5);
}

.form-control {
    letter-spacing: 0.1rem !important;
    color: var(--amarillo);
}

.logo-img {
    height: 8.5rem;
}

.mt-opposite {
    margin-top: -7.5rem;
}

.form-container-lavender {
    background-color: lavender;
    width: 25rem;
}

label {
    display: block;
    letter-spacing: 0.1rem;
    color: rgb(255, 255, 255);
}

.userNameInput,
.passwordInput {
    position: relative;
    width: 100%;
    padding-left: 10px;
    border: none;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    font-weight: 300;
    color: black;
    font-size: 16px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 20;
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
}
