body{
    width: 100wh;
    height: 100vh;
    display: flex;

    background-image: url(/src/assets/hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.bodyLogin {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bodySquare {

    width: 35vw;
    height: 50vh;
    background-color: rgba(237, 233, 234, 0.157);
    border-radius: 15%;
}

.bodySquareDiv {
    width: 100%;
    height: 100%;
    padding: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    backdrop-filter: blur(1px);

}
.logoImage{
    margin-left: 22%;
    width: 50%;
    
}

.pointer {
    cursor: pointer;
}

.btn-purple {
    background-color: rgb(229, 221, 15);
    border: 1px solid white;
    letter-spacing: 0.1rem;
    padding: 5px;
    border-radius: 10px;
}

.btn-purple:hover {
    filter: brightness(1.2);
}

.forgot-text {
    
    color: white;
    margin: 3%;
    border-radius: 4px;
}
