body{
    width: 100wh;
    height: 100vh;
    display: flex;

    background-image: url(/src/assets/hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.bodyLogin {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    
}

.logoLogin {
    width: 45%; 
}

.boxInput {
    width: 25%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input {
    height: 25%;
    margin: 3%;
    background-color: #022439;
    border: 0px;
    border-color: gray;
    border-radius: 4px;
    text-indent: 5%;
    box-shadow: inset 0 0 0 1px grey;
    color: white;

}

.buttonLogin {
    height: 25%;
    background-color: blue;
    color: white;
    margin: 3%;
    border-radius: 4px;
}

.btn{
    display: flex;
    width: 95%;
    height: 25%;
    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(82, 67, 197);
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}