@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

:root {
    --amarillo:rgb(229, 221, 15)
}

body {
    background-color: #022439;
    font-family: 'Roboto', sans-serif;
}

